/* IMPORT  COLOR, FONT */
@import url("/core/style/static/root/root.css");

/* ERROR PAGE -> 400 */
.error-page {
    color: var(--error-page-color);
    background: var(--error-page-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--error-page-backgroundcolor);
    width: 100%;
    min-height: 100dvh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--error-page-font-family);
    font-weight: var(--error-page-font-weight);
    font-size: var(--error-page-font-size);
    text-shadow: var(--error-page-text-shadow);
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

/* ERROR PAGE -> 500 */
.server-error-page {
    color: var(--error-page-color);
    background: var(--server-error-page-background);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--server-error-page-backgroundcolor);
    width: 100%;
    min-height: 100dvh;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--server-error-page-font-family);
    font-weight: var(--server-error-page-font-weight);
    font-size: var(--server-error-page-font-size);
    text-shadow: var(--server-error-page-text-shadow);
    line-height: 1.5;
    padding: 0;
    margin: 0;
}
