/* AERONAUT */
/* FONT -> AERONAUT */
@font-face {
    font-family: "font-aeronaut";
    src:url("/asset/global/font/aeronaut/woff2/Aeronaut.woff2") format("woff2"),
        url("/asset/global/font/aeronaut/woff/Aeronaut.woff") format("woff"),
        url("/asset/global/font/aeronaut/truetype/Aeronaut.ttf") format("truetype"),
        url("/asset/global/font/aeronaut/opentype/Aeronaut.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

/* ALLER */
/* FONT -> ALLER LIGHT */
@font-face {
    font-family: "font-aller-light";
    src:url("/asset/global/font/aller/woff2/Aller-Light.woff2") format("woff2"),
        url("/asset/global/font/aller/woff/Aller-Light.woff") format("woff"),
        url("/asset/global/font/aller/truetype/Aller-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* FONT -> ALLER LIGHT ITALIC */
@font-face {
    font-family: "font-aller-light-italic";
    src:url("/asset/global/font/aller/woff2/Aller-Light-Italic.woff2") format("woff2"),
        url("/asset/global/font/aller/woff/Aller-Light-Italic.woff") format("woff"),
        url("/asset/global/font/aller/truetype/Aller-Light-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> ALLER LIGHT REGULAR */
@font-face {
    font-family: "font-aller-regular";
    src:url("/asset/global/font/aller/woff2/Aller-Regular.woff2") format("woff2"),
        url("/asset/global/font/aller/woff/Aller-Regular.woff") format("woff"),
        url("/asset/global/font/aller/truetype/Aller-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> ALLER MEDIUM ITALIC */
@font-face {
    font-family: "font-aller-medium-italic";
    src:url("/asset/global/font/aller/woff2/Aller-Medium-Italic.woff2") format("woff2"),
        url("/asset/global/font/aller/woff/Aller-Medium-Italic.woff") format("woff"),
        url("/asset/global/font/aller/truetype/Aller-Medium-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* FONT -> ALLER MEDIUM BOLD */
@font-face {
    font-family: "font-aller-bold";
    src:url("/asset/global/font/aller/woff2/Aller-Bold.woff2") format("woff2"),
        url("/asset/global/font/aller/woff/Aller-Bold.woff") format("woff"),
        url("/asset/global/font/aller/truetype/Aller-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* FONT -> ALLER BOLD ITALIC */
@font-face {
    font-family: "font-aller-bold-italic";
    src:url("/asset/global/font/aller/woff2/Aller-Bold-Italic.woff2") format("woff2"),
        url("/asset/global/font/aller/woff/Aller-Bold-Italic.woff") format("woff"),
        url("/asset/global/font/aller/truetype/Aller-Bold-Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* FONT -> ALLER EXTRA BOLD */
@font-face {
    font-family: "font-aller-extrabold";
    src:url("/asset/global/font/aller/woff2/Aller-ExtraBold.woff2") format("woff2"),
        url("/asset/global/font/aller/woff/Aller-ExtraBold.woff") format("woff"),
        url("/asset/global/font/aller/truetype/Aller-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* BEBAS */
/* FONT -> BEBAS REGULAR */
@font-face {
    font-family: "font-bebas-regular";
    src:url("/asset/global/font/bebas/woff2/Bebas-Regular.woff2") format("woff2"),
        url("/asset/global/font/bebas/woff/Bebas-Regular.woff") format("woff"),
        url("/asset/global/font/bebas/truetype/Bebas-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* BRANDBE */
/* FONT -> BRANDBE EXTRA BOLD */
@font-face {
    font-family: "font-brandbe-extrabold";
    src:url("/asset/global/font/brandbe/woff2/Brandbe-ExtraBold.woff2") format("woff2"),
        url("/asset/global/font/brandbe/woff/Brandbe-ExtraBold.woff") format("woff"),
        url("/asset/global/font/brandbe/truetype/Brandbe-ExtraBold.ttf") format("truetype"),
        url("/asset/global/font/brandbe/opentype/Brandbe-ExtraBold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

/* COOPER HEWITT */
/* FONT -> COOPER HEWITT EXTRA LIGHT */
@font-face {
    font-family: "font-cooperhewitt-extralight";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-ExtraLight.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-ExtraLight.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-ExtraLight.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-ExtraLight.otf") format("opentype");
    font-weight: 200;
    font-style: normal;
}

/* FONT -> COOPER HEWITT EXTRA LIGHT ITALIC */
@font-face {
    font-family: "font-cooperhewitt-extralight-italic";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-ExtraLight-Italic.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-ExtraLight-Italic.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-ExtraLight-Italic.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-ExtraLight-Italic.otf") format("opentype");
    font-weight: 200;
    font-style: italic;
}

/* FONT -> COOPER HEWITT LIGHT */
@font-face {
    font-family: "font-cooperhewitt-light";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Light.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Light.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Light.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Light.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

/* FONT -> COOPER HEWITT LIGHT ITALIC */
@font-face {
    font-family: "font-cooperhewitt-light-italic";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Light-Italic.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Light-Italic.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Light-Italic.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Light-Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> COOPER HEWITT REGULAR */
@font-face {
    font-family: "font-cooperhewitt-regular";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Regular.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Regular.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Regular.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> COOPER HEWITT REGULAR ITALIC */
@font-face {
    font-family: "font-cooperhewitt-regular-italic";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Regular-Italic.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Regular-Italic.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Regular-Italic.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Regular-Italic.otf") format("opentype");
    font-weight: 400;
    font-style: italic;
}

/* FONT -> COOPER HEWITT MEDIUM */
@font-face {
    font-family: "font-cooperhewitt-medium";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Medium.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Medium.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Medium.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Medium.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* FONT -> COOPER HEWITT MEDIUM ITALIC */
@font-face {
    font-family: "font-cooperhewitt-medium-italic";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Medium-Italic.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Medium-Italic.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Medium-Italic.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Medium-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

/* FONT -> COOPER HEWITT BOLD */
@font-face {
    font-family: "font-cooperhewitt-bold";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Bold.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Bold.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Bold.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Bold.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* FONT -> COOPER HEWITT BOLD ITALIC */
@font-face {
    font-family: "font-cooperhewitt-bold-italic";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Bold-Italic.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Bold-Italic.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Bold-Italic.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Bold-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

/* FONT -> COOPER HEWITT EXTRA BOLD */
@font-face {
    font-family: "font-cooperhewitt-extrabold";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-ExtraBold.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-ExtraBold.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-ExtraBold.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-ExtraBold.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* FONT -> COOPER HEWITT EXTRA BOLD ITALIC */
@font-face {
    font-family: "font-cooperhewitt-extrabold-italic";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-ExtraBold-Italic.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-ExtraBold-Italic.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-ExtraBold-Italic.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-ExtraBold-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

/* FONT -> COOPER HEWITT BOLDEST */
@font-face {
    font-family: "font-cooperhewitt-boldest";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Boldest.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Boldest.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Boldest.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Boldest.otf") format("opentype");
    font-weight: 500;
    font-style: normal;
}

/* FONT -> COOPER HEWITT BOLDEST ITALIC */
@font-face {
    font-family: "font-cooperhewitt-boldest-italic";
    src:url("/asset/global/font/cooperhewitt/woff2/CooperHewitt-Boldest-Italic.woff2") format("woff2"),
        url("/asset/global/font/cooperhewitt/woff/CooperHewitt-Boldest-Italic.woff") format("woff"),
        url("/asset/global/font/cooperhewitt/truetype/CooperHewitt-Boldest-Italic.ttf") format("truetype"),
        url("/asset/global/font/cooperhewitt/opentype/CooperHewitt-Boldest-Italic.otf") format("opentype");
    font-weight: 500;
    font-style: italic;
}

/* EUDOXUS SANS */
/* FONT -> EUDOXUS EXTRA LIGHT */
@font-face {
    font-family: "font-eudoxus-extralight";
    src:url("/asset/global/font/eudoxus/woff2/EudoxusSans-ExtraLight.woff2") format("woff2"),
        url("/asset/global/font/eudoxus/woff/EudoxusSans-ExtraLight.woff") format("woff"),
        url("/asset/global/font/eudoxus/truetype/EudoxusSans-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* FONT -> EUDOXUS LIGHT */
@font-face {
    font-family: "font-eudoxus-light";
    src:url("/asset/global/font/eudoxus/woff2/EudoxusSans-Light.woff2") format("woff2"),
        url("/asset/global/font/eudoxus/woff/EudoxusSans-Light.woff") format("woff"),
        url("/asset/global/font/eudoxus/truetype/EudoxusSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* FONT -> EUDOXUS REGULAR */
@font-face {
    font-family: "font-eudoxus-regular";
    src:url("/asset/global/font/eudoxus/woff2/EudoxusSans-Regular.woff2") format("woff2"),
        url("/asset/global/font/eudoxus/woff/EudoxusSans-Regular.woff") format("woff"),
        url("/asset/global/font/eudoxus/truetype/EudoxusSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> EUDOXUS MEDIUM */
@font-face {
    font-family: "font-eudoxus-medium";
    src:url("/asset/global/font/eudoxus/woff2/EudoxusSans-Medium.woff2") format("woff2"),
        url("/asset/global/font/eudoxus/woff/EudoxusSans-Medium.woff") format("woff"),
        url("/asset/global/font/eudoxus/truetype/EudoxusSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* FONT -> EUDOXUS BOLD */
@font-face {
    font-family: "font-eudoxus-bold";
    src:url("/asset/global/font/eudoxus/woff2/EudoxusSans-Bold.woff2") format("woff2"),
        url("/asset/global/font/eudoxus/woff/EudoxusSans-Bold.woff") format("woff"),
        url("/asset/global/font/eudoxus/truetype/EudoxusSans-Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> EUDOXUS EXTRA BOLD */
@font-face {
    font-family: "font-eudoxus-extrabold";
    src:url("/asset/global/font/eudoxus/woff2/EudoxusSans-ExtraBold.woff2") format("woff2"),
        url("/asset/global/font/eudoxus/woff/EudoxusSans-ExtraBold.woff") format("woff"),
        url("/asset/global/font/eudoxus/truetype/EudoxusSans-ExtraBold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* GORD QUICK */
/* FONT -> GORD QUICK */
@font-face {
    font-family: "font-gordquick";
    src:url("/asset/global/font/gordquick/woff2/GordQuick.woff2") format("woff2"),
        url("/asset/global/font/gordquick/woff/GordQuick.woff") format("woff"),
        url("/asset/global/font/gordquick/truetype/GordQuick.ttf") format("truetype"),
        url("/asset/global/font/gordquick/opentype/GordQuick.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

/* LOBSTER TWO */
/* FONT -> LOBSTER TWO ITALIC */
@font-face {
    font-family: "font-lobstertwo-italic";
    src:url("/asset/global/font/lobstertwo/woff2/LobsterTwo-Italic.woff2") format("woff2"),
        url("/asset/global/font/lobstertwo/woff/LobsterTwo-Italic.woff") format("woff"),
        url("/asset/global/font/lobstertwo/truetype/LobsterTwo-Italic.ttf") format("truetype"),
        url("/asset/global/font/lobstertwo/opentype/LobsterTwo-Italic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> LOBSTER TWO REGULAR */
@font-face {
    font-family: "font-lobstertwo-regular";
    src:url("/asset/global/font/lobstertwo/woff2/LobsterTwo-Regular.woff2") format("woff2"),
        url("/asset/global/font/lobstertwo/woff/LobsterTwo-Regular.woff") format("woff"),
        url("/asset/global/font/lobstertwo/truetype/LobsterTwo-Regular.ttf") format("truetype"),
        url("/asset/global/font/lobstertwo/opentype/LobsterTwo-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> LOBSTER TWO BOLD */
@font-face {
    font-family: "font-lobstertwo-bold";
    src:url("/asset/global/font/lobstertwo/woff2/LobsterTwo-Bold.woff2") format("woff2"),
        url("/asset/global/font/lobstertwo/woff/LobsterTwo-Bold.woff") format("woff"),
        url("/asset/global/font/lobstertwo/truetype/LobsterTwo-Bold.ttf") format("truetype"),
        url("/asset/global/font/lobstertwo/opentype/LobsterTwo-Bold.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}

/* FONT -> LOBSTER TWO BOLD ITALIC */
@font-face {
    font-family: "font-lobstertwo-bold-italic";
    src:url("/asset/global/font/lobstertwo/woff2/LobsterTwo-Bold-Italic.woff2") format("woff2"),
        url("/asset/global/font/lobstertwo/woff/LobsterTwo-Bold-Italic.woff") format("woff"),
        url("/asset/global/font/lobstertwo/truetype/LobsterTwo-Bold-Italic.ttf") format("truetype"),
        url("/asset/global/font/lobstertwo/opentype/LobsterTwo-Bold-Italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
}

/* OPENSANS */
/* FONT -> OPENSANS LIGHT */
@font-face {
    font-family: "font-opensans-light";
    src:url("/asset/global/font/opensans/woff2/OpenSans-Light.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-Light.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* FONT -> OPENSANS LIGHT ITALIC */
@font-face {
    font-family: "font-opensans-light-italic";
    src:url("/asset/global/font/opensans/woff2/OpenSans-Light-Italic.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-Light-Italic.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-Light-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> OPENSANS ITALIC */
@font-face {
    font-family: "font-opensans-italic";
    src:url("/asset/global/font/opensans/woff2/OpenSans-Italic.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-Italic.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> OPENSANS REGULAR */
@font-face {
    font-family: "font-opensans-regular";
    src:url("/asset/global/font/opensans/woff2/OpenSans-Regular.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-Regular.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> OPENSANS BOLD */
@font-face {
    font-family: "font-opensans-bold";
    src:url("/asset/global/font/opensans/woff2/OpenSans-Bold.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-Bold.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* FONT -> OPENSANS BOLD ITALIC */
@font-face {
    font-family: "font-opensans-bold-italic";
    src:url("/asset/global/font/opensans/woff2/OpenSans-Bold-Italic.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-Bold-Italic.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-Bold-Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* FONT -> OPENSANS EXTRA BOLD */
@font-face {
    font-family: "font-opensans-bold";
    src:url("/asset/global/font/opensans/woff2/OpenSans-ExtraBold.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-ExtraBold.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* FONT -> OPENSANS EXTRA BOLD ITALIC */
@font-face {
    font-family: "font-opensans-extrabold-italic";
    src:url("/asset/global/font/opensans/woff2/OpenSans-ExtraBold-Italic.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-ExtraBold-Italic.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-ExtraBold-Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* FONT -> OPENSANS BOLDEST */
@font-face {
    font-family: "font-opensans-boldest";
    src:url("/asset/global/font/opensans/woff2/OpenSans-Boldest.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-Boldest.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-Boldest.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* FONT -> OPENSANS BOLDEST ITALIC */
@font-face {
    font-family: "font-opensans-boldest-italic";
    src:url("/asset/global/font/opensans/woff2/OpenSans-Boldest-Italic.woff2") format("woff2"),
        url("/asset/global/font/opensans/woff/OpenSans-Boldest-Italic.woff") format("woff"),
        url("/asset/global/font/opensans/truetype/OpenSans-Boldest-Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* OSWALD */
/* FONT -> OSWALD EXTRA LIGHT */
@font-face {
    font-family: "font-oswald-extralight";
    src:url("/asset/global/font/oswald/woff2/Oswald-ExtraLight.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-ExtraLight.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-ExtraLight.ttf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

/* FONT -> OSWALD EXTRA LIGHT ITALIC */
@font-face {
    font-family: "font-oswald-extralight-italic";
    src:url("/asset/global/font/oswald/woff2/Oswald-ExtraLight-Italic.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-ExtraLight-Italic.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-ExtraLight-Italic.ttf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

/* FONT -> OSWALD LIGHT */
@font-face {
    font-family: "font-oswald-light";
    src:url("/asset/global/font/oswald/woff2/Oswald-Light.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Light.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* FONT -> OSWALD LIGHT ITALIC */
@font-face {
    font-family: "font-oswald-light-italic";
    src:url("/asset/global/font/oswald/woff2/Oswald-Light-Italic.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Light-Italic.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Light-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> OSWALD REGULAR */
@font-face {
    font-family: "font-oswald-regular";
    src:url("/asset/global/font/oswald/woff2/Oswald-Regular.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Regular.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> OSWALD REGULAR ITALIC */
@font-face {
    font-family: "font-oswald-regular-italic";
    src:url("/asset/global/font/oswald/woff2/Oswald-Regular-Italic.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Regular-Italic.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Regular-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

/* FONT -> OSWALD MEDIUM */
@font-face {
    font-family: "font-oswald-medium";
    src:url("/asset/global/font/oswald/woff2/Oswald-Medium.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Medium.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* FONT -> OSWALD MEDIUM ITALIC */
@font-face {
    font-family: "font-oswald-medium-italic";
    src:url("/asset/global/font/oswald/woff2/Oswald-Medium-Italic.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Medium-Italic.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Medium-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* FONT -> OSWALD BOLD */
@font-face {
    font-family: "font-oswald-bold";
    src:url("/asset/global/font/oswald/woff2/Oswald-Bold.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Bold.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* FONT -> OSWALD BOLD ITALIC */
@font-face {
    font-family: "font-oswald-bold-italic";
    src:url("/asset/global/font/oswald/woff2/Oswald-Bold-Italic.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Bold-Italic.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Bold-Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

/* FONT -> OSWALD EXTRA BOLD */
@font-face {
    font-family: "font-oswald-extrabold";
    src:url("/asset/global/font/oswald/woff2/Oswald-ExtraBold.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-ExtraBold.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-ExtraBold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* FONT -> OSWALD EXTRA BOLD ITALIC */
@font-face {
    font-family: "font-oswald-extrabold-italic";
    src:url("/asset/global/font/oswald/woff2/Oswald-ExtraBold-Italic.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-ExtraBold-Italic.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-ExtraBold-Italic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

/* FONT -> OSWALD BOLDEST */
@font-face {
    font-family: "font-oswald-boldest";
    src:url("/asset/global/font/oswald/woff2/Oswald-Boldest.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Boldest.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Boldest.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

/* FONT -> OSWALD BOLDEST ITALIC */
@font-face {
    font-family: "font-oswald-boldest-italic";
    src:url("/asset/global/font/oswald/woff2/Oswald-Boldest-Italic.woff2") format("woff2"),
        url("/asset/global/font/oswald/woff/Oswald-Boldest-Italic.woff") format("woff"),
        url("/asset/global/font/oswald/truetype/Oswald-Boldest-Italic.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

/* WONDER NIGHT */
/* FONT -> WONDER NIGHT */
@font-face {
    font-family: "font-wondernight";
    src:url("/asset/global/font/wondernight/woff2/WonderNight.woff2") format("woff2"),
        url("/asset/global/font/wondernight/woff/WonderNight.woff") format("woff"),
        url("/asset/global/font/wondernight/truetype/WonderNight.ttf") format("truetype"),
        url("/asset/global/font/wondernight/opentype/WonderNight.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
}

/* UBUNTU */
/* FONT -> UBUNTU LIGHT */
@font-face {
    font-family: "font-ubuntu-light";
    src:url("/asset/global/font/ubuntu/woff2/Ubuntu-Light.woff2") format("woff2"),
        url("/asset/global/font/ubuntu/woff/Ubuntu-Light.woff") format("woff"),
        url("/asset/global/font/ubuntu/truetype/Ubuntu-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/* FONT -> UBUNTU LIGHT ITALIC */
@font-face {
    font-family: "font-ubuntu-light-italic";
    src:url("/asset/global/font/ubuntu/woff2/Ubuntu-Light-Italic.woff2") format("woff2"),
        url("/asset/global/font/ubuntu/woff/Ubuntu-Light-Italic.woff") format("woff"),
        url("/asset/global/font/ubuntu/truetype/Ubuntu-Light-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> UBUNTU ITALIC */
@font-face {
    font-family: "font-ubuntu-italic";
    src:url("/asset/global/font/ubuntu/woff2/Ubuntu-Italic.woff2") format("woff2"),
        url("/asset/global/font/ubuntu/woff/Ubuntu-Italic.woff") format("woff"),
        url("/asset/global/font/ubuntu/truetype/Ubuntu-Italic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

/* FONT -> UBUNTU REGULAR */
@font-face {
    font-family: "font-ubuntu-regular";
    src:url("/asset/global/font/ubuntu/woff2/Ubuntu-Regular.woff2") format("woff2"),
        url("/asset/global/font/ubuntu/woff/Ubuntu-Regular.woff") format("woff"),
        url("/asset/global/font/ubuntu/truetype/Ubuntu-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

/* FONT -> UBUNTU MEDIUM */
@font-face {
    font-family: "font-ubuntu-medium";
    src:url("/asset/global/font/ubuntu/woff2/Ubuntu-Medium.woff2") format("woff2"),
        url("/asset/global/font/ubuntu/woff/Ubuntu-Medium.woff") format("woff"),
        url("/asset/global/font/ubuntu/truetype/Ubuntu-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

/* FONT -> UBUNTU MEDIUM ITALIC */
@font-face {
    font-family: "font-ubuntu-medium-italic";
    src:url("/asset/global/font/ubuntu/woff2/Ubuntu-Medium-Italic.woff2") format("woff2"),
        url("/asset/global/font/ubuntu/woff/Ubuntu-Medium-Italic.woff") format("woff"),
        url("/asset/global/font/ubuntu/truetype/Ubuntu-Medium-Italic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

/* FONT -> UBUNTU BOLD */
@font-face {
    font-family: "font-ubuntu-bold";
    src:url("/asset/global/font/ubuntu/woff2/Ubuntu-Bold.woff2") format("woff2"),
        url("/asset/global/font/ubuntu/woff/Ubuntu-Bold.woff") format("woff"),
        url("/asset/global/font/ubuntu/truetype/Ubuntu-Bold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

/* FONT -> UBUNTU BOLD ITALIC */
@font-face {
    font-family: "font-ubuntu-bold-italic";
    src:url("/asset/global/font/ubuntu/woff2/Ubuntu-Bold-Italic.woff2") format("woff2"),
        url("/asset/global/font/ubuntu/woff/Ubuntu-Bold-Italic.woff") format("woff"),
        url("/asset/global/font/ubuntu/truetype/Ubuntu-Bold-Italic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}